

<h1>Current spaces available</h1>

  <form action="/spaces" method="get">
    Filter by date <input type="date" name="filter_start" placeholder="<%@filter_date%>">
    to <input type="date" name="filter_end" placeholder="<%@filter_date%>">
    <button type="submit">Filter date</button>
  </form>



<ul>
  <% @spaces.each do |space|

        booked_dates = []  
        space.bookings.each {|booking| booked_dates << get_date_range(booking.booking_start, booking.booking_end) }
        booked_dates.flatten!

        original_dates = get_date_range(space.start_availability, space.end_availability)
        available_dates = original_dates.reject{|date| booked_dates.include?(date)}


        available = @filter_range ? @filter_range.all? {|date| available_dates.include? date} : true  
    %>

     <% if available %>
      <li>
     
        Name: <%= space.name %><br>
        Description: <%= space.description %><br>
        Price: <%= "£%.2f" % space.price %><br>
        Available Dates: <%= space.start_availability%><br>
        Available Dates: <%= space.end_availability%><br>
        Username: <%=space.user.username %><br>

        <form action="/bookings/new" method="post">
          <input type="hidden" name="space_id" value="<%= space.id %>">
          <input type="submit" name="<%= space.id %>" value="Book now">
        </form>

      </li>
    <% end %>
  <% end %>
</ul>
