<h1>Book a space</h1>

<section class="intro">
  <p>This is a description of the listings and is quite long check those out</p>
  <form action='/spaces/new' method="get">
      <button class="btn" type="submit">List a space</button>
  </form>
</section>

<form id="date-filter" action="/spaces" method="get">
  <p>Filter by date</p>
  <p><input type="date" name="filter_start" placeholder="<%@filter_date%>">
  to <input type="date" name="filter_end" placeholder="<%@filter_date%>"></p>
  <button class="btn" type="submit">Filter date</button>
</form>

<ul id="space-container">
  <% @spaces.each do |space|

        booked_dates = []
        space.bookings.each do |booking|
          if booking.booking_start
            booked_dates += get_date_range(booking.booking_start, booking.booking_end)
          end
        end

        original_dates = get_date_range(space.start_availability, space.end_availability)
        available_dates = original_dates.reject{|date| booked_dates.include?(date)}
        available = @filter_range ? @filter_range.all? {|date| available_dates.include? date} : true
    %>

     <% if available %>
      <li id="space-listing">

        <p>Name: <%= space.name %><br>
        Description: <%= space.description %><br>
        Price: <%= "£%.2f" % space.price %><br>
        Available Dates: <%= space.start_availability%><br>
        Available Dates: <%= space.end_availability%><br>
        Username: <%=space.user.username %><br></p>

        <form action="/bookings/new" method="post">
          <input type="hidden" name="space_id" value="<%= space.id %>">
          <input class="btn" type="submit" name="<%= space.id %>" value="Book now">
        </form>

      </li>
    <% end %>
  <% end %>
</ul>
